---
export interface Props {
  width?: string | number;
  height?: string | number;
}

const { width = "700", height = "300" } = Astro.props;
---

<div class="my-12 flex justify-center">
  <iframe 
    src="https://yoyoz.substack.com/embed" 
    width={width}
    height={height}
    style="border:1px solid #EEE; background:white;" 
    frameborder="0" 
    scrolling="no"
  ></iframe>
</div>

